.profile-main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #e7e9ed;
  justify-content: center;
  align-items: center;
  padding: 5rem 8rem 5rem 8rem;
  gap: 2rem;
}

.profile-main-container img {
  width: 100%;
  height: 100%;
}

.profile-main-projects {
  text-align: center;
}

.profile-main-projects h2 {
  text-align: center;
  margin: 2rem;
}

hr {
  width: 80%;
  margin: auto;
  border: 0.2px solid #e7e9ed;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  margin: 2rem 8.5rem 2rem 8.5rem;
  gap: 2rem;
}

.profile-main-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 5rem 7rem;
  background-color: #e7e9ed;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  margin: 0;
}

.contact-item img {
  margin: 0 0 10px 0;
  width: 7rem;
}
