@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", "monospace";
}

/* HOME */
a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
  margin-right: 2rem;
}

header .header-icons-container .icons {
  width: 250px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  justify-self: end;
  margin-right: 2.8rem;
  justify-content: space-between;
  align-items: center;
}

header .icons span {
  color: #ffffff;
}

header .icons span::before {
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 2.6rem;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin-right: 4.2rem;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: auto;
  height: 120vh;
  background-image: url("../assets/img/Cover.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  /* height: auto; */
  margin-top: 100px;
}

.home-main-text {
  font-family: "Roboto Mono", "monospace";
  font-size: 30px;
  font-weight: 700px;
  letter-spacing: 5px;
  color: #ffffff;
  text-align: center;
}

.home-main-button {
  width: 110px;
  height: 50px;
  background-color: #47cfac;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}

footer {
  display: flex;
  background-color: #22282c;
}

.footer-hr {
  border: 1.2rem solid #47cfac;
  width: auto;
  margin: 0;
}

footer p {
  color: #ffffff;
  text-align: center;
  margin: 2rem auto;
}
