.contact-main-container {
    background-color: #151515;
}

.contact-info-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
    margin-bottom: 5rem;
    padding: 4rem 7rem;
}

.contact-info-card {
    background-color: var(--dark-gray);
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    font-family: var(--font-league);
}

.contact-info-card img {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1.5rem;
}

.contact-info-card h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.contact-info-card p {
    font-size: 1.1rem;
    color: var(--secondary-color);
}

.contact-form-section {
    background-color: var(--background-gray);
    padding: 4rem 7rem;
}

.contact-form-section .home-main-text p {
    margin-bottom: 3rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-form .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.contact-form input,
.contact-form textarea {
    padding: 1.2rem;
    background-color: var(--dark-gray);
    border: 1px solid var(--border-gray);
    border-radius: 0.5rem;
    font-family: var(--font-league);
    font-size: 1rem;
    color: #fff;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form button {
    width: fit-content;
}