.login-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 7rem;
    font-family: var(--font-league);
}

.login-form-container {
    background-color: var(--dark-gray);
    padding: 3rem 4rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    text-align: center;
    width: 100%;
    max-width: 31rem;
}

.login-form-container h2 {
    font-family: var(--font-lora);
    font-weight: 100;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-form input {
    padding: 1.2rem;
    background-color: #1A1A1A;
    border: 1px solid var(--border-gray);
    border-radius: 0.5rem;
    font-family: var(--font-league);
    font-size: 1rem;
    color: #fff;
}

.login-form button {
    margin-top: 1rem;
}

.login-form-container p {
    margin-top: 2rem;
    color: var(--secondary-color);
}

.login-form-container p a {
    color: var(--primary-color);
    font-weight: bold;
}

/* -------------------------------- RESPONSIVE -------------------------------- */
/* MOBILE */
@media (max-width: 768px) {
  .login-main-container {
    padding: 1rem;
  }

  .login-form-container {
    padding: 1rem;
  }
}